<template>
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active d-flex justify-content-between">
      ユーザー一覧
    </button>
    <button v-for="userMember in userMembers" :key="userMember.id" type="button" class="list-group-item list-group-item-action d-flex justify-content-between" @click="onSelectUser(userMember)">
      {{ userMember.name }}
      <button type="button" class="btn btn-danger btn-sm" @click="onDeleteUser(userMember)">
        ユーザー削除
      </button>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { GitlabUser } from '@/api'
import { gitlabState } from '@/share_states/gitlab'

@Component
export default class GitlabUserComponent extends Vue {
  get userMembers (): GitlabUser[] {
    return gitlabState.users
  }

  onSelectUser (user: GitlabUser) {
    this.$emit('onSelectUser', user)
  }

  onDeleteUser (user: GitlabUser) {
    this.$emit('onDeletUserUser', user)
  }
}

</script>
