<template>
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active d-flex justify-content-between">
      参加しているプロジェクト一覧
    </button>
    <button v-for="(project, index) in projects" :key="index" type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
      {{ project.name }}

      <button type="button" class="btn btn-danger btn-sm" @click="onDeleteProject(project)">
        削除
      </button>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { GitlabProject, GitlabUser } from '@/api'
import { Prop } from 'vue-property-decorator'
import { globalLoadingState } from '@/share_states/global_loading'
import { gitlabState } from '@/share_states/gitlab'

@Component
export default class GitlabProjectComponent extends Vue {
  @Prop({ default: [] })
  projects: GitlabProject[]

  @Prop({ default: null })
  user: GitlabUser

  async onDeleteProject (project: GitlabProject) {
    const confirmOk = await confirm('ユーザー権限を外しますか？')
    if (this.user && confirmOk) {
      globalLoadingState.loading(gitlabState.removeUserFromProject(project, this.user))
    }
  }
}

</script>
