<template>
  <div v-if="isLoading" class="loading-container">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { globalLoadingState } from '~/share_states/global_loading'

@Component
export default class GlobalLoading extends Vue {
  get isLoading (): boolean {
    return globalLoadingState.isLoading
  }
}
</script>

<style lang="scss" scoped>
.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9999;
  background-color: azure;
  opacity: 0.3;
}

.spinner-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
}
</style>
