<template>
  <div>
    <GlobalLoading />
    <nuxt />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GlobalLoading from '@/components/GlobalLoading.vue'
import store from '@/share_states'

@Component({
  components: {
    GlobalLoading
  }
})
export default class Default extends Vue {
  store = store
}
</script>

<style>
</style>
