<template>
  <div class="row">
    <div class="col-4">
      <GitlabUserComponent @onSelectUser="onSelectUser" @onDeletUserUser="onDeletUserUser" />
    </div>
    <div class="col-8">
      <GitlabProjectComponent :projects="projects" :user="selectedUser" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import GitlabProjectComponent from '@/components/GitlabProjectComponent.vue'
import GitlabUserComponent from '@/components/GitlabUserComponent.vue'
import { GitlabProject, GitlabUser } from '@/api'
import { gitlabState } from '@/share_states/gitlab'
import { globalLoadingState } from '~/share_states/global_loading'

@Component({
  components: {
    GitlabProjectComponent,
    GitlabUserComponent
  },
  layout: 'home'
})
export default class Index extends Vue {
  mounted () {
    gitlabState.createShareState()
  }

  selectedUser: GitlabUser | null = null

  get projects (): GitlabProject[] {
    if (!this.selectedUser) {
      return []
    }
    return gitlabState.gitlabProjectStates.filter(item => item.users.findIndex(user => this.selectedUser && user.id === this.selectedUser.id) >= 0).map(item => item.project)
  }

  onSelectUser (user: GitlabUser) {
    this.selectedUser = user
  }

  async onDeletUserUser (user: GitlabUser) {
    const confirmOk = await confirm('ユーザーの全部の権限を外しますか？')
    if (confirmOk) {
      globalLoadingState.loading(gitlabState.removeUser(user))
    }
  }
}
</script>
