<template>
  <div v-if="needLogin" class="container">
    <div>
      <b-field grouped>
        <p class="control">
          <button
            type="button"
            class="btn btn-success"
            @click="onLogin"
          >
            Gitlab Login
          </button>
        </p>
      </b-field>
    </div>
    <div />
  </div>
  <div v-else class="container">
    <div class="container-content">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { GITLAB_AUTH } from '@/lib/gitlab_config'
import { STORAGE_GITLAB_TOKEN, validGitlabToken } from '@/api'

@Component({
  components: {
  }
})
export default class Index extends Vue {
  onLogin () {
    const redirectUri = encodeURIComponent(`${location.origin}`)
    location.href = 'https://gitlab.com/oauth/authorize?' +
      `client_id=${GITLAB_AUTH.appId}&` +
      `redirect_uri=${redirectUri}&` +
      'response_type=token&' +
      'scope=read_repository+api'
  }

  needLogin = false;

  mounted () {
    const gitlabToken = this.gitlabAccessToken()
    if (gitlabToken) {
      localStorage.setItem(STORAGE_GITLAB_TOKEN, gitlabToken)
    }
    this.needLogin = !validGitlabToken()
    if (!this.needLogin) {
      this.$router.push('home')
    }
  }

  gitlabAccessToken () {
    const hash = this.$route.hash
    if (!hash) {
      return ''
    }
    const queries = hash.substring(1, hash.length)
    const tokenParams = queries.split('&').map(query => query.split('=')).find(queryParams => queryParams[0] === 'access_token')
    if (tokenParams) {
      localStorage.setItem('gitlab-token', tokenParams[1])
      return tokenParams[1]
    }
    return ''
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-content {
  width: 100%;
}
</style>
